.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  float: left;
}

.App-header {
  background-color: #b66f6f;
  height: 40px;
  padding: 10px;
  color: white;
  padding-left: 20px;
}

.App-header h1 {
  margin: 0
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
}

.App-intro {
  font-size: large;
}

.Container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 40px;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.Container .item {
  width: 320px;
  padding: 0px 10px 30px 10px;
  box-sizing: border-box;
  float: left;
}

.Container .item.has-input {
  opacity: 0.4;
  color: rgb(87, 85, 85);
}

.Container .item .formular {
  float: left;
}

.Container .item .formular span {
  padding: 0px 5px;
}

.Container .item .result {
  float: right;
  width: 120px;
}

.Container .item .result span {
  margin-right: 10px;
}

.Container .item input {
  width: 80px;
  font-size: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.result {
  position: relative;
}

.result input {
  text-align: center;
}

.tick {
  position: absolute;
  right: -35px;
  top: 0px;
  font-size: 34px;
}

.tick.ok {
  color: green;

}

.tick.error {
  color: red;
}

.button {
  margin-top: 0px;
  padding: 10px;
  font-size: 35px;
  margin-right: 30px;
  cursor: pointer;
}

.Right {
  float: right;
  width: 180px;
}

.Right img {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.Right .Counter {
  color: #fff;
  font-size: 40px;
}