.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  float: left;
}

.App-header {
  background-color: #c964f4;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-header h1 {
  margin: 0
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 40px;
}

.Container .item {
  width: 300px;
  padding: 10px 30px 10px;
  box-sizing: border-box;
  float: left;
}

.Container .item .formular {
  float: left;
}

.Container .item .formular span {
  padding: 0px 5px;
}

.Container .item .result {
  float: right;
  width: 100px;
}

.Container .item .result span {
  margin-right: 10px;
}

.Container .item input {
  width: 60px;
  font-size: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.result {
  position: relative;
}

.result input {
  text-align: center;
}

.tick {
  position: absolute;
  right: -35px;
  top: 0px;
  font-size: 34px;
}

.tick.ok {
  color: green;

}

.tick.error {
  color: red;
}

.button {
  margin-top: 30px;
  padding: 15px;
  font-size: 35px;
  margin-right: 30px;
  cursor: pointer;
}

.Container {
  padding-top: 35px;
}